.Post {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
}
.Post-comments-container {
  margin-bottom: 100px;
  margin-right: 180px;
}
.Post-info-container {
  margin-left: 100px;
}
.Post-spinner {
  text-align: -webkit-center;
}
.Post-spinner .sk-cube-grid {
  width: 54px;
  height: 54px;
}
.Post-title {
  color: rgba(248,0,111,.98);
}
.Post-tags {
  color: grey;
}
.Post-tag {
  margin-right: 5px;
}
.Post-tag:hover {
  text-decoration: underline;
}
.Post-hero-logo {
  animation: Post-hero-logo-spin infinite 20s linear;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}
@keyframes Post-hero-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Post-actions {
  float: right;
}
/*.Post-actions .Post-action-item {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  background: rgba(248,0,111,.98);
  color: white;
  border: none;
  margin: 5px;
  font-size: 14px;
}*/
.Post-actions .Post-action-item {
  margin-bottom: 10px;
}
.Post-action-item-btn {
  width: 180px;
}