.SecondNavigator {
/*  text-align: right;*/
  margin-right: 35px;
  margin-left: 150px;
}
.SecondNavigator .start-dsicussion-btn {
  float: left;
}
.SecondNavigator .start-dsicussion-btn span{
  padding-left: 10px;
}