.Dashboard {
  margin-bottom: 100px;
  text-align: center;
}
.LoadMore-btn {
  text-align: center;
  text-decoration: underline;
  color: #f8006f;
  font-weight: 700;
}
.Dashboard-spinner {
  text-align: -webkit-center;
}
.Dashboard-spinner .sk-cube-grid {
  width: 54px;
  height: 54px;
}