.GlobalHeader {
	position: fixed;
	height: 64px;
	top: 0;
	right: 0;
	left: 0;
	background: rgba(248,0,111,.98);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.35);
	box-shadow: 0 2px 6px rgba(0,0,0,.35);
}
.GlobalHeader a {
  color: white;
  text-decoration: none;
}
.GlobalHeader-container {
	max-width: 100%;
	margin-right: auto;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.GlobalHeader-secondary {
	float: right;
	display: block;
	padding-right: 25px;
	padding-left: 25px;
}
.GlobalHeader-item-session {
	vertical-align: middle;
	line-height: 64px;
}
.GlobalHeader-header-controls {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
  margin-top: 15px;
	float: right;
}
.GlobalHeader-item {
	display: inline-block;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-weight: 400;
}
.GlobalHeader-hero-logo {
  animation: GlobalHeader-hero-logo-spin infinite 20s linear;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}
.GlobalHeader-item-button {
	margin-right: 35px;
	font-size: 16px;
	color: #fff!important;
	padding: 6px 0;	
  -webkit-transition: border-bottom 0.1s;
  transition: border-bottom 0.1s;
}
.GlobalHeader-item-button:hover{
  border-bottom: 2px solid #fff; 
}
.GlobalHeader-item-forum {
  border-bottom: 2px solid #fff;
}
.Header-title {
  float: left;
  vertical-align: top;
  font-size: 18px;
  font-weight: 400;
  margin: 0 15px 0 0;
  line-height: 60px;
}
.Logo {
	max-height: 30px;
	vertical-align: middle;
}
@keyframes GlobalHeader-hero-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}