.quill-editor .ql-container {
  border: none !important;
}
.quill-editor {
  width: 100%;
}
.quill-editor .ql-snow {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
}
.quill-editor .ql-toolbar {
  border-top: 1px solid #ccc !important;
}
.description {
  height: 350px;
  width: 100% !important;
  margin-right: 50px;
}
.quill-editor .ql-editor {
  max-height: 200px;
  height: 200px;
}
.post-btn {
  margin-top: 20px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.post-title input{
  border: 1px solid white !important;
}
.post-title input:focus {
  border-color: white !important;
}