.NotificationItem-block {
  padding: 20px 20px 0px 20px;
}
.NotificationItem-block span{
  color: gray;
}
.NotificationItem-block span.description {
  margin-left: 10px;
}
.NotificationItem-block span.text {
  display: inherit;
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
}
.NotificationItem-block img {
  display: initial !important;
}